@Html.Partial("header.cshtml")
<h1>Welcome to Bab's Barber Shop</h1>
<form class="add-stylist" action="/add_stylist" method="post">
  <label for="stylist-name"></label>
  <input type="text" name="stylist-name" value="" placeholder="enter name here">
  <button type="submit" name="button">Add Stylist</button>
</form>
<a href="/stylists/all">Show Stylists in Database</a>
@if (@Model != null)
{
  <h2>Stylists at Bab's Barbers</h2>
  <h3>Click a stylist to see their clients</h3>
  <ol>
    @foreach (var stylist in @Model)
    {
      <li><a href="/stylist/@stylist.GetId()">@stylist.GetName()</a>
      <ul>
        @foreach (var client in stylist.FindByStylistId())
        {
          <li>client.GetName()</li>
        }
      </ul>
      </li>
    }
  </ol>
  <form action="/clear_all" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" name="clear-all">Clear All</button>
  </form>
  <form action="/" method="get">
    <button type="submit" name="home">Back Home</button>
  </form>
}
