<h1>Well hello there!</h1>

<h3>Here's the stylist you are viewing:</h3>

<ul>
  <li><h3>@Model.GetName()</h3></li>
</ul>

<p>Would you like to change this stylist's name?</p>
<form action="/stylist/@Model.GetId()/update" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="new-stylist-name" value="" placeholder="@Model.GetName()">
  <button type="submit" name="button">HELL YEAH</button>
</form>
<form action="/stylist/@Model.GetId()/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" name="button">NAH MAN DELETE IT</button>
</form>
<hr>
<a href="/all_stylists">View All Stylists</a>
