@Html.Partial("header.cshtml")
<div class="container llamas">
  <h3>You've deleted that client from the database!</h3>
  <h4><a href="/stylists/all">View All Stylists<br></h4>
  <img src="/Content/img/I-need-a-haircut.png" alt="they might get shaggy like this Llama"></a>
</div>
